*, body{
  margin: 0px;
  padding: 0px;
  font-family: arial;
  overflow-x: hidden;
}

.container-100vw{
  width: 100vw;
  text-align: center;
}

.flex{
  display: flex;
  justify-content: space-around;
}

.margin-top-10vh{
  margin-top: 10vh;
}

#logo{
  max-width: 45vw;
  min-width: 33vw;
}
