#logo{
  max-width: 30vw;
  min-width: 20vw;
}

form{
  max-width: 500px;
  padding: 20px 12px 10px 20px;
  font: 13px Arial, Helvetica, sans-serif;
}

form label{
  display: block;
  margin: 0px 0px 15px 0px;
}

form label > span{
  width: 100px;
  float: left;
  padding-top: 8px;
  padding-right: 5px;
}

form input.input-field{
  width: 48%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #C2C2C2;
  padding: 7px;
  outline: none;
}

form .input-field:focus{
  border-bottom-color: #69bbc1;
}
